@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUsPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterPage.cshtml";
}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h1 class="mdl-typography--display-1">@CurrentPage.Name</h1>
        </div>
    </div>
@CurrentPage.GetGridHtml("grd","GrdBase")
