include navigation
    block content
        .mdl-grid
            .mdl-cell.mdl-cell--12-col
                h1.mdl-typography--display-1 Who We Are
            .mdl-cell.mdl-cell--12-col
                p In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced.[citation needed]
            .mdl-cell.mdl-cell--12-col
                hr
            .mdl-cell.mdl-cell--12-col
                h2.mdl-typography--display-1.f2u-team Our Team
            .mdl-cell.mdl-cell--12-col
                h4.mdl-typography--title.f2u-team Veronika G. - Organizer
            .mdl-cell.mdl-cell--3-col.mdl-cell--3-col-tablet.mdl-cell--4-col-phone
                img(src="../img/f2uVeronika.jpg").f2u-team--picture
            .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.f2u-team--description
                p In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced.[citation needed]
            .mdl-cell.mdl-cell--12-col
                h4.mdl-typography--title.f2u-team Veronika G. - Organizer
            .mdl-cell.mdl-cell--3-col.mdl-cell--3-col-tablet.mdl-cell--4-col-phone
                img(src="../img/f2uVeronika.jpg").f2u-team--picture
            .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet
                p In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced.[citation needed]