include navigation
    block content
        .mdl-grid
            .mdl-cell.mdl-cell--12-col
                h1.mdl-typography--display-1 We Organize
            .mdl-cell.mdl-cell--4-col
                .blogpost-card
                    .blogpost-card--img-container
                        img(src="../img/wedding.jpg").blogpost-card--img
                    h1.mdl-typography--title.blogpost-card--title Weddings
                    p.blogpost-card--body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sem eu enim fringilla vestibulum a ut mi. Ut eu augue id magna tempor convallis. Duis ornare blandit convallis. Class aptent cras amet.
                    .blogpost-card--action
                        a(href="#").mdl-button.mdl-button--primary Continue reading..

            .mdl-cell.mdl-cell--4-col
                .blogpost-card
                    .blogpost-card--img-container
                        img(src="../img/party.jpg").blogpost-card--img
                    h1.mdl-typography--title.blogpost-card--title Parties
                    p.blogpost-card--body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec sem eu enim fringilla vestibulum a ut mi. Ut eu augue id magna tempor convallis. Duis ornare blandit convallis. Class aptent cras amet.
                    .blogpost-card--action
                        a(href="#").mdl-button.mdl-button--primary Continue reading..