include navigation
    block content
       .mdl-grid
            .mdl-cell.mdl-cell--12-col
               h1.mdl-typography--display-1 Our Pricing
            .mdl-cell.mdl-cell--4-col
                .f2u-pricing
                    .f2u-pricing--title Wedding Planning
                    .f2u-pricing--price
                        span.f2u-pricing--price-amount 6 000
                        span.f2u-pricing--price-currency GBP
                    span.f2u-pricing--description Up to 50 people
                    ul.f2u-pricing--features
                        li.pricing-table--feature some very long features
                        li.pricing-table--feature another features

            .mdl-cell.mdl-cell--4-col
                .f2u-pricing
                    .f2u-pricing--title Party Organization
                    .f2u-pricing--price
                        span.f2u-pricing--price-amount 10 000
                        span.f2u-pricing--price-currency  GBP
                    span.f2u-pricing--description Up to 500 people
                    ul.f2u-pricing--features
                        li.pricing-table--feature some very long features
                        li.pricing-table--feature another features